/* .ant-modal-content
{
    background-color: #212121 !important;
    box-shadow: 5px #181818 !important;
    border: 10px solid #181818 !important;
    min-height: 70vh !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
    color: white !important;
} */

