*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  display: grid;
  background-color: #080710;
  place-items: center;
  height: 90vh;
}
.background {
  width: 100px;
  height: 100px;
}
.shape {
  height: 200px;
  width: 200px;
  position: absolute;
  border-radius: 50%;
}
.shape:first-child {
  background: linear-gradient(#1845ad, #23a2f6);
  right: 35%;
  bottom: 15%;
}
.shape:last-child {
  background: linear-gradient(to right, #ff512f, #f09819);
  left: 35%;
}
form {
  max-width: 600px;
  background-color: rgba(255, 255, 255, 0.13);
  border-radius: 10px;
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
  padding: 50px 35px;
}
form * {
  font-family: "Poppins", sans-serif;
  color: #ffffff;
  letter-spacing: 0.5px;
  outline: none;
  border: none;
}
form h3 {
  font-size: 2rem;
  font-weight: 500;
  text-align: center;
}

label {
  display: block;
  margin-top: 30px;
  font-weight: 500;
}
input {
  padding: 1rem;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.07);
  border-radius: 5px;
  margin-top: 8px;
  font-size: 0.8rem;
  font-weight: 300;
}
::placeholder {
  color: #e5e5e5;
  font-size: 0.9rem;
}
button {
  margin-top: 50px;
  width: 100%;
  background-color: #ffffff;
  color: #080710;
  padding: 0.9em 0;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
}
.social {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}
.social div {
  background: red;
  width: 45%;
  border-radius: 3px;
  padding: 0.5em 1em;
  background-color: rgba(255, 255, 255, 0.27);
  color: #eaf0fb;
  text-align: center;
}
.social div:hover {
  background-color: rgba(255, 255, 255, 0.47);
}